<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DLogCountStoreDao">
    <resultMap type="com.model.DLogCountStore" id="standardDLogCountStoreMap">
        <id property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
        <result property="createDate" column="createDate" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="logDate" column="logDate" javaType="String" jdbcType="VARCHAR"/>
        <result property="themeName" column="themeName" javaType="String" jdbcType="VARCHAR"/>
        <result property="totalDown" column="totalDown" javaType="Integer" jdbcType="INTEGER"/>
        <result property="totalVisit" column="totalVisit" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="updateTotalDown" parameterType="String">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT count(*) FROM mopita.log_count_store t WHERE t.theme_name=#{themeName}
        </selectKey>
        <if test="count > 0">
            UPDATE mopita.log_count_store t
            SET t.total_down = total_down + 1
            WHERE t.theme_name = #{themeName}
        </if>
        <if test="count==0">
            INSERT INTO mopita.log_count_store (
            create_date,
            log_date,
            theme_name,
            total_down,
            total_visit,
            is_delete
            )
            VALUES
            (NOW(),CURDATE(),#{themeName},1,0,0);
        </if>
    </insert>

    <insert id="updateTotalVisit" parameterType="String">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT count(*) FROM mopita.log_count_store t WHERE t.theme_name=#{themeName}
        </selectKey>
        <if test="count > 0">
            UPDATE mopita.log_count_store t
            SET t.total_visit = total_visit + 1
            WHERE t.theme_name = #{themeName}
        </if>
        <if test="count==0">
            INSERT INTO mopita.log_count_store (
            create_date,
            log_date,
            theme_name,
            total_down,
            total_visit,
            is_delete
            )
            VALUES
            (NOW(),CURDATE(),#{themeName},0,1,0);
        </if>
    </insert>

    <insert id="refreshIntoLogCountStore">
        INSERT INTO mopita.log_count_store (
        create_date,
        log_date,
        theme_name,
        total_down,
        total_visit,
        is_delete
        ) SELECT
        NOW() AS create_date,
        DATE_SUB(curdate(),INTERVAL -1 DAY) AS log_date,
        f.title AS theme_name,
        0 AS total_down,
        0 AS total_vistor,
        0 AS is_delete
        FROM
        mopita.f_file f
        WHERE
        f.is_delete = 0;
    </insert>

</mapper>
