<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.trade.ShelfDao">

    <resultMap type="DShelf" id="standardShelfMap">
		<id property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
      	<result property="sort" column="sort" javaType="Integer" jdbcType="INTEGER"/>
      	<result property="status" column="status" javaType="Integer" jdbcType="INTEGER"/>
       	<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="shelf_columns">
		id, name, sort, status
	</sql>
	
	<select id="getById" resultMap="standardShelfMap" parameterType="string" >
		SELECT <include refid="shelf_columns"/> from f_shelf g where g.id = #{id} 
	</select>
	
	<select id="getAll" resultMap="standardShelfMap" parameterType="integer" >
		SELECT <include refid="shelf_columns"/> from f_shelf g where g.status = #{status} order by g.sort
	</select>
	
	
</mapper>
