<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PollDao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" readOnly="true"> 
        <property name="timeToIdleSeconds" value="30"/><!--30s-->
        <property name="timeToLiveSeconds" value="60"/><!--60s-->
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
    
    <resultMap type="Poll" id="standardPollMap">
		<id property="id" column="id" javaType="Long" jdbcType="INTEGER"/>
		<result property="uuid" column="uuid" javaType="String" jdbcType="VARCHAR"/>
		<result property="dtype" column="dtype" javaType="String" jdbcType="VARCHAR"/>
		<result property="store" column="store" javaType="String" jdbcType="VARCHAR"/>
		<result property="contentName" column="content_name" javaType="String" jdbcType="VARCHAR"/>
		<result property="contentInfo" column="content_info" javaType="String" jdbcType="VARCHAR"/>
		<result property="fm" column="fm" javaType="String" jdbcType="VARCHAR"/>
		<result property="appk" column="appk" javaType="String" jdbcType="VARCHAR"/>
		<result property="appUrl" column="app_url" javaType="String" jdbcType="VARCHAR"/>
		<result property="imgName" column="img_name" javaType="String" jdbcType="VARCHAR"/>
		<result property="imgLink" column="img_link" javaType="String" jdbcType="VARCHAR"/>
		<result property="status" column="status" javaType="Long" jdbcType="INTEGER"/>
		<result property="percent" column="percent" javaType="Long" jdbcType="INTEGER"/>
		<result property="createTime" column="create_time" javaType="Date" jdbcType="TIMESTAMP"/>
	</resultMap>
    
	<select id="getAll" resultMap="standardPollMap">
		select poll.* from f_polling_enhancement poll where poll.store='lock' and poll.status = 1 and poll.dtype = 0 order by create_time asc, dtype asc; 
	</select>
	
</mapper>
