<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpadsz.uic.user.dao.DApplicationDao">

    <resultMap type="DApplication" id="standardApplicationMap">
		<id property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
      	<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
       	<result property="descr" column="descr" javaType="String" jdbcType="VARCHAR"/>
       	<result property="serialno" column="serialno" javaType="String" jdbcType="VARCHAR"/>
       	<result property="symbol" column="symbol" javaType="String" jdbcType="VARCHAR"/>
       	<result property="version" column="version" javaType="String" jdbcType="VARCHAR"/>
       	<result property="createDate" column="create_date" javaType="Date" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="getById" resultMap="standardApplicationMap" parameterType="string" >
		SELECT t.* from f_application t where t.id=#{id}
	</select>

</mapper>
